@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}
.shadowCs-\[rgba\(0\2c _0\2c _0\2c _0\.24\)_0px_3px_8px\]{
  --tw-shadow: rgba(0,0,0,.24) 0px 3px 8px;
  --tw-shadow-colored: 0px 3px 8px var(--tw-shadow-color);
  box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}